/*************** RESET ***************/

:root {
	--font-default: "DM Sans", Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Landing Page */
body {
	display: flex;
	flex-direction: column;

	max-width: 1300px;
	margin: 0 auto;

	font-family: var(--font-default);
	font-size: 18px;
}

main {
	font-size: 130%;
	font-weight: bolder;
	color: black;
}

/*************** TOP NAVBAR ***************/
.topnav {
	margin: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	height: fit-content;
}

.main-navbar {
	display: flex;
	justify-content: center;
}

.topnav a {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 1rem;
	margin: 0.5rem;

	border-radius: 15px;

	color: #000000;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}

.topnav a:hover,
.topnav a.active {
	background-color: #ff0000;

	color: #ffffff;
}

.topnav a.icon {
	display: none;
}

/*************** TOP NAVBAR MOBILE ***************/

@media screen and (max-width: 768px) {
	.topnav {
		height: 72px;
	}

	.topnav a {
		display: none;
	}

	.topnav a.icon {
		display: block;
	}

	.topnav.opened a.icon {
		align-self: flex-end;
		order: -5;

		width: fit-content;

		background-color: #ff0000;

		color: white;
	}

	.topnav.opened {
		position: relative;
	}

	.topnav.opened .main-navbar {
		position: absolute;
		right: 0;
		top: 0;
		flex-direction: column;
		z-index: 2;

		background-color: #00000085;
		border-radius: 15px;
	}

	.topnav.opened a {
		display: block;

		color: white;
	}
}

/*************** HERO SECTION ***************/

.hero-section {
	position: relative;
	display: flex;

	height: clamp(600px, 60vh, 900px);
	margin: 0 auto;
	border-radius: 10px;

	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.left-side {
	flex: 4 1 auto;

	background: #232323;
}

.right-side {
	flex: 1 1 auto;

	max-width: 100%;

	object-fit: cover;
}

.hero-text-bloc {
	position: absolute;
	top: 20px;
	left: 20px;

	max-width: 80%;

	color: white;
}

.hero-headline {
	margin-bottom: 1em;

	font-size: 5rem;
	font-weight: normal;
}

.hero-text {
	margin-bottom: 2em;
}

.open-modal-btn {
	display: flex;

	margin-left: 2em;
	padding: 0.75rem 2.5rem;

	background: #fe142f;
	border-radius: 1rem;
	border: none;

	text-transform: capitalize;
	font-size: 1.3rem;
	color: #fff;

	cursor: pointer;
}

.open-modal-btn:hover {
	background: #3876ac;
}

.mobile-modal-button {
	display: none;
}

/*************** RESPONSIVE HERO SECTION   ***************/
@media screen and (max-width: 800px) {
	.hero-section {
		flex-direction: column;

		height: fit-content;
		padding: 1em;

		box-shadow: none;
	}

	.left-side {
		display: none;
	}

	.right-side {
		width: 100%;
		height: auto;

		border-radius: 15px;
	}

	.hero-text-bloc {
		position: static;
		order: -1;

		max-width: 100%;
		
		color: black;
	}

	.hero-headline {
		font-size: 4rem;
	}

	.hero-text {
		font-weight: normal;
	}

	.open-modal-btn {
		display: none;
	}

	.mobile-modal-button {
		display: block;

		width: fit-content;
		margin: 3rem auto 0;
	}
}


/*************** MODAL FORM ***************/

.modal-container {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;

	background-color: rgba(26, 39, 156, 0.4);
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;

	width: min(100%, 550px);
	max-height: 80vh;
	padding: 30px;
	overflow-y: auto;

	background: #232323;
	border-radius: 10px;

	color: #fff;

	animation-name: modalopen;
	animation-duration: 0.6s;
}

.close {
	width: 100%;

	text-align: right;

	cursor: pointer;
}

/* TODO:style on label and input  *****************************/

.reservation-form
{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.formData {
	display: flex;
	flex-direction: column;
	gap: 5px;

	font-size: 17px;
	font-weight: normal;
}

.text-control {
	position: relative;

	width: 100%;
	padding: 8px;

	border: 0.8px solid #ccc;
	border-radius: 8px;

	font-size: 20px;
}

.text-control:invalid {
	border: 1px solid red;
}


.text-control:focus:invalid {
	background-color: #ffe3e3;
}

.text-control:valid {
	border: 1px solid green;
}

.form-invalid {
	display: none;
	font-size: 0.75rem;
	color: rgb(255, 100, 100);
}

.text-control:focus:invalid + .form-invalid {
	display: block;
}

.formData-radio-input {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	padding: 0.5em;
	padding-left: 30px;
}

.radio-input-text {
	font-size: 16px;
	text-align: center;
}

.radio-label,
.checkbox-label {
	font-size: 16px;
	font-weight: normal;
}

.radio-label {
	margin-right: 1em;
}

.btn-submit {
	display: block;

	margin: 0 auto;
	padding: 12px 82px;
	border-radius: 7px;
	border: 0;

	background: #fe142f;

	font-size: 1rem;
	color: #fff;

	cursor: pointer;
}

.radio-input {
	display: none;
}

.radio-label {
	position: relative;

	cursor: pointer;
}

.radio-label::before {
	position: absolute;
	left: -24px;
	top: 0;

	content: "";
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 1px solid white;
}

.radio-label::after {
	position: absolute;
	left: -20px;
	top: 4px;

	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.radio-input:checked + .radio-label {
	font-weight: bolder;
	color: #279E7A;
}

.radio-input:checked + .radio-label::before {
	border: 1px solid #279E7A;
}

.radio-input:checked + .radio-label::after {
	background-color: #279E7A;
}

.formData-checkbox-input {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	padding-left: 30px;

	border: none;
}

.checkbox-input {
	display: none;
}

.checkbox-label {
	position: relative;

	cursor: pointer;
}

.checkbox-label::before {
	position: absolute;
	left: -24px;
	top: 0;

	content: "";
	width: 18px;
	height: 18px;
	border-radius: 2px;
	border: 1px solid white;
}

.checkbox-label::after {
	position: absolute;
	left: -20px;
	top: 4px;

	content: "";
	width: 12px;
	height: 12px;
	border-radius: 2px;
}

.checkbox-input:checked + .checkbox-label {
	font-weight: bolder;
}

.checkbox-input:checked + .checkbox-label::before {
	border: 1px solid #279E7A;
}

.checkbox-input:checked + .checkbox-label::after {
	background-color: #279E7A;
}

.conditions-invalid {
	display: none;
	font-size: 0.75rem;
	color: rgb(255, 100, 100);
}

#checkbox1:not(:checked) + .checkbox-label {
	color: red;
}

/*************** MODALE SLIDE IN ANIMATION ***************/
@keyframes modalopen {
	from {
		opacity: 0;

		transform: translateY(-150px);
	}
	to {
		opacity: 1;
	}
}

/*************** !FOOTER ***************/
footer {
	margin: 0 20px;
	padding: 0 2vw;
}

.copyrights {
	margin: 60px 0 30px;

	font-size: 1rem;
	font-weight: bolder;
	color: #fe142f;
}

@media screen and (max-width: 800px) {
	.copyrights {
		text-align: center;
	}
}
