/*************** RESET / BASIC STUFF ***************/

:root {
	--main-color: #ff0000;
	--text-color: #000000;
	--text-secondary-color: #ffffff;
	--hero-background-color: #232323;

	--button-hover-color: #3876ac;

	--modal-overlay-color: #1a279c66;

	--form-not-valid: #ff0000;
	--form-not-valid-bg: #ffdddd;
	--form-valid: #279e7a;
	--form-valid-bg: #deffde;
	--form-not-valid-message: #ff6464;

	--max-body-width: 1300px;
}

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	font-family: "DM Sans", Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
	color: var(--text-color);
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	max-width: var(--max-body-width);
	margin: 1rem auto 0;
}

/*************** TOP NAVBAR ***************/
.topnav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.header-logo {
	margin: 0 auto;
}

.main-navbar {
	display: flex;

	margin: 0 auto;
}

.nav-link {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0.5rem;
	border-radius: 1rem;

	font-size: 1.25rem;
}

.nav-link:hover,
.nav-link.active {
	background-color: var(--main-color);

	color: var(--text-secondary-color);
}

.topnav .icon {
	display: none;
}

/*************** TOPNAV MOBILE ***************/

@media screen and (width <= 800px) {
	.topnav {
		margin: 0 1.5rem;
	}

	/* reset the margin */
	.main-navbar,
	.header-logo {
		margin: 0;
	}

	.main-navbar {
		align-self: flex-start;
	}

	/* Hide the links */
	.topnav .nav-link {
		display: none;
	}

	/* Show the icon to open the navbar */
	.topnav .icon {
		display: block;
		padding: 0.5rem;
	}

	.topnav.opened {
		position: relative;
	}

	/* Place the icon on top of the other links */
	.topnav.opened .icon {
		align-self: flex-end;
		order: -5;

		width: fit-content;
		border-radius: 1rem;

		background-color: var(--main-color);
	}

	/* Place the links below the icon */
	.topnav.opened .main-navbar {
		position: absolute;
		right: 0;
		top: 0;
		flex-direction: column;
		z-index: 2;

		border-radius: 1rem;

		background-color: rgb(0, 0, 0, 0.6);
		backdrop-filter: blur(5px);
	}

	.topnav.opened .nav-link {
		display: block;

		color: var(--text-secondary-color);
	}

	.topnav.opened .icon i {
		color: var(--text-secondary-color);
	}
}

/*************** HERO SECTION ***************/

.hero-section {
	position: relative;
	display: flex;

	height: clamp(600px, 60vh, 900px);
	margin: 0 2rem;
	border-radius: 1rem;

	box-shadow: 0 12px 12px 2px rgba(0, 0, 0, 0.25);

	/* Border radius */
	overflow: hidden;
}

/* Left side with the monochromatic background, growing in width */
.left-side {
	flex: 4 1 auto;

	background: var(--hero-background-color);
}

.right-side {
	flex: 1 1 auto;

	object-fit: cover;
}

.hero-text-bloc {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;

	max-width: 80%;
}

.hero-headline {
	margin-bottom: 5rem;

	font-size: 5rem;
	color: var(--text-secondary-color);
}

.hero-text {
	max-width: 40ch;
	margin-bottom: 2em;

	color: var(--text-secondary-color);
}

.open-modal-button {
	display: flex;

	margin-left: 2rem;
	padding: 0.75rem 2.5rem;

	background: var(--main-color);
	border-radius: 1rem;
	border: none;

	font-size: 1.3rem;
	color: var(--text-secondary-color);

	cursor: pointer;
}

.open-modal-button:hover {
	background: var(--button-hover-color);
}

/* Hide the second button when on desktop */
.mobile-modal-button {
	display: none;
}

/*************** RESPONSIVE HERO SECTION   ***************/
@media screen and (width <= 800px) {
	.hero-section {
		flex-direction: column;

		height: auto;
		margin: 0;
		padding: 1rem;

		box-shadow: none;
	}

	.left-side {
		display: none;
	}

	.right-side {
		border-radius: 1rem;
		box-shadow: 0 12px 12px 2px rgba(0, 0, 0, 0.25);
	}

	.hero-text-bloc {
		position: static;
		order: -1;

		max-width: 100%;
	}

	.hero-headline {
		margin-bottom: 2rem;

		font-size: 4rem;
		color: var(--text-color);
	}

	.hero-text {
		color: var(--text-color);
	}

	/* Hide the desktop open modal button */
	.open-modal-button {
		display: none;
	}

	.mobile-modal-button {
		display: block;

		margin: 3rem auto 0;
	}
}

/*************** MODAL FORM ***************/

.modal-container {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;

	background-color: var(--modal-overlay-color);
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;

	width: min(100%, 550px);
	max-height: 80vh;
	padding: 2rem;
	/* scrollable form in bigger than viewport in height */
	overflow-y: auto;

	background: var(--hero-background-color);
	border-radius: 1rem;

	animation: modalopen 0.6s;
}

.close {
	width: 100%;

	font-size: 1.5rem;
	text-align: right;
	color: var(--text-secondary-color);

	cursor: pointer;
}

/*************** MODALE SLIDE IN ANIMATION ***************/

@keyframes modalopen {
	from {
		opacity: 0;

		transform: translateY(-20%);
	}
	to {
		opacity: 1;
	}
}

/*************** MODAL STLYE ON LABEL AND INPUT ***************/

label,
legend {
	color: var(--text-secondary-color);
}

.reservation-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

/***** TEXT INPUT *****/
.form-data {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.text-input {
	padding: 0.5rem;

	border-radius: 0.5rem;

	font-size: 1.25rem;
}

/* Border and background for valid / invalid data */
.text-input:invalid {
	border: 1px solid var(--form-not-valid);
}

.text-input:valid {
	border: 1px solid var(--form-valid);
}

.text-input:focus:invalid {
	background-color: var(--form-not-valid-bg);
}

.text-input:focus:valid {
	background-color: var(--form-valid-bg);
}

/* Message when typing invalid input */
.form-invalid {
	display: none;

	font-size: 0.75rem;
	color: var(--form-not-valid-message);
}

.text-input:focus:invalid + .form-invalid {
	display: block;
}

/***** RADIO INPUT *****/
.form-data-radio {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 0.5rem;
	padding-left: 2rem;
}

.radio-input-legend {
	text-align: center;
}

.radio-label,
.checkbox-label {
	font-size: 1rem;
}

.radio-label {
	margin-right: 1.25rem;
}

/* Hide default input to create custom one with label:before */
.radio-input {
	display: none;
}

.radio-label {
	position: relative;

	cursor: pointer;
}

.radio-label::before {
	position: absolute;
	left: -24px;
	top: 0;

	content: "";
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 1px solid var(--text-secondary-color);
}

.radio-label::after {
	position: absolute;
	left: -20px;
	top: 4px;

	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.radio-input:checked + .radio-label {
	font-weight: bolder;
	color: var(--form-valid);
}

.radio-input:checked + .radio-label::before {
	border: 1px solid var(--form-valid);
}

.radio-input:checked + .radio-label::after {
	background-color: var(--form-valid);
}

/***** CHECKBOX INPUT *****/

.form-data-checkbox-input {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	padding-left: 2rem;

	border: none;
}

/* Hide default input to create custom one with label:before */
.checkbox-input {
	display: none;
}

.checkbox-label {
	position: relative;

	cursor: pointer;
}

.checkbox-label::before {
	position: absolute;
	left: -24px;
	top: 0;

	content: "";
	width: 18px;
	height: 18px;
	border-radius: 2px;
	border: 1px solid var(--text-secondary-color);
}

.checkbox-label::after {
	position: absolute;
	left: -20px;
	top: 4px;

	content: "";
	width: 12px;
	height: 12px;
	border-radius: 2px;
}

.checkbox-input:checked + .checkbox-label {
	font-weight: bold;
}

.checkbox-input:checked + .checkbox-label::before {
	border: 1px solid var(--form-valid);
}

.checkbox-input:checked + .checkbox-label::after {
	background-color: var(--form-valid);
}

#checkbox1:not(:checked) + .checkbox-label {
	color: var(--form-not-valid);
}

.button-submit {
	display: block;

	margin: 0 auto;
	padding: 1rem 3rem;
	border-radius: 0.5rem;
	border: none;

	background: var(--main-color);

	font-size: 1rem;
	color: var(--text-secondary-color);

	cursor: pointer;
}

/*************** !FOOTER ***************/

.copyrights {
	margin: 4rem 2rem 2rem;

	font-size: 1rem;
	font-weight: bolder;
	color: var(--main-color);
}

@media screen and (width <= 800px) {
	.copyrights {
		text-align: center;
	}
}
