/*************** RESET / BASIC STUFF ***************/
:root {
	--main-color: #ff0000;
	--main-color-lighter: #ff3232; 
	--text-color: #232323;
	--text-secondary-color: #fafafa;
	--hero-background-color: #232323;

	--modal-overlay-color: #1a279c66;

	--form-not-valid: #ff0000;
	--form-not-valid-bg: #ffdddd;
	--form-not-valid-message: #ff6464;
	--form-valid: #279e7a;
	--form-valid-bg: #deffde;
}

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	font-family: "DM Sans", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: var(--text-color);
	text-decoration: none;
	list-style-type: none;
}

body {
	display: flex;
	flex-direction: column;
	gap: 5rem;

	max-width: 1440px;
	margin: 0 auto;
}

@media screen and (width <= 850px) {
	body {
		gap: 2rem;
	}
}

/*************** TYPOGRAPHY ***************/
.header-link a, .text-input {
	font-size: 1.25rem;
}

.header-mobile-icon i, .close-modal-button {
	font-size: 2rem;
}

.header-mobile-icon i, .open-modal-button,
.hero-text {
	font-size: 1.5rem;
}

.hero-headline {
	font-size: 6rem;
}

.confirmation-message span {
	font-size: 2.5rem;
}

.form-invalid-message {
	font-size: 0.75rem;
}

.header-mobile-icon i,
.footer-copyrights {
	color: var(--main-color);
}

.hero-headline, .hero-text, .primary-button,
.close-modal-button, label, legend,
.confirmation-message span {
	color: var(--text-secondary-color);
}

/*************** HEADER ***************/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	padding: 3.125rem 3.125rem 0 6.25rem;
}

.header-navbar {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.header-link {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;

	transition: all 0.2s ease-in-out;
}

.header-link:hover, .header-link.-active {
	background-color: var(--main-color);
}

.header-link:hover a , .header-link.-active a{
	color: var(--text-secondary-color);
	text-decoration: underline;
}

.header-mobile-icon {
	display: none;
}

/*************** HEADER TABLET ***************/
@media screen and (width <= 1200px) {
	.header {
		position: relative;

		padding: 3.125rem 3.125rem 0
	}

	.header-navbar.close {
		display: none;
	}

	.header-navbar.open {
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		gap: 1rem;
		z-index: 1;
		top: calc(100% + 1rem);
		right: 3.125rem;
		background-color: #fafafa90;
		backdrop-filter: blur(5px);
		padding: 1rem;
		border-radius: 1rem;
		border: 1px solid #0c0c0c20;
	}

	.header-mobile-icon {
		display: block;
	}
}

/*************** HEADER MOBILE ***************/
@media screen and (width <= 850px) {
	.header {
		padding: 1.5rem 1.5rem 0;
	}

	.header-navbar.open {
		flex-direction: column;
		align-items: normal;
		right: 1.5rem;
		gap: 0.5rem;
	}

	.header-logo {
		height: 2rem;
	}
}

/*************** HERO SECTION ***************/
.hero-section {
	display: flex;
	flex-direction: column;
	gap: 4.625rem;

	margin: 0 6.25rem;
	padding: 3.5rem 3.5rem 4.375rem;

	background: url("./images/bg_img.png") center right no-repeat, var(--hero-background-color);
	background-size: auto 100%;

	border-radius: 1rem;
	overflow: hidden;

	box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
}

.hero-headline {
	max-width: 60rem;
}

.hero-text {
	max-width: 25rem;
}

.hero-image {
	display: none;
}

.primary-button {
	width: fit-content;
	padding: 0.75rem 2rem;
	background-color: var(--main-color);
	border: none;
	border-radius: 1rem;

	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.primary-button:hover {
	background-color: var(--main-color-lighter);
	transform: scale(1.05);
}

/*************** HERO SECTION TABLET ***************/
@media screen and (width <= 1200px) {
	.hero-section {
		background: url("./images/bg_img.png") center no-repeat;
		background-size: cover;

		margin: 0 3.125rem;
		padding: 2.5rem 2.5rem 3.5rem;
	}

	.hero-headline {
		font-size: 4.5rem;
		width: min(40rem,100%);
	}

}
/*************** HERO SECTION MOBILE ***************/
@media screen and (width <= 850px) {
	.hero-section {
		background: none;
		box-shadow: none;
		padding: 1.75rem 1.75rem 0;
		margin: 0;
		gap: 1rem;
	}

	.hero-headline {
		font-size: 2.5rem;
		color: var(--text-color);
	}

	.hero-text {
		font-size: 0.875rem;
		color: var(--text-color);
		max-width: 100%;
	}

	.hero-image {
		display: block;
		max-width: 100%;
		border-radius: 0.5rem;
		margin-top: 1rem;
	}

	.primary-button {
		font-size: 0.875rem;
		margin: 0.5rem auto 0;
		padding: 0.5rem 2rem;
		border-radius: 0.5rem;
	}
}

/*************** FOOTER ***************/
.footer-copyrights {
	padding: 1rem 2rem;
}

@media screen and (width <= 850px) {
	.footer-copyrights {
		text-align: center;
		margin: 0;
	}
}

/*************** MODAL FORM ***************/
.modal-container {
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;

	padding: 1rem;

	background-color: var(--modal-overlay-color);
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: end;

	width: min(100%, 550px);
	height: min(80vh,800px);
	padding: 1rem;
	overflow-y: auto;

	background: var(--hero-background-color);
	border-radius: 1rem;
}

.close-modal-button {
	text-align: right;
	cursor: pointer;
	width: fit-content;
}

/*************** MODALE SLIDE IN/OUT ANIMATION ***************/
.modal-container.close {
	animation: modal-container-close 0.3s forwards;
}

.modal-container.open {
	animation: modal-container-open 0.3s forwards;
}

.modal-container.close .modal{
	animation: modal-close 0.3s forwards;
}

.modal-container.open .modal{
	animation: modal-open 0.3s forwards;
}

@keyframes modal-open {
	from {transform: translateY(-20%);}
	to {transform: translateY(0%);}
}

@keyframes modal-close {
	from {transform: translateY(0%);}
	to {transform: translateY(-20%);}
}

@keyframes modal-container-open {
	from {
		visibility: hidden;
		opacity: 0;
	}
	to {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes modal-container-close {
	from {
		visibility: visible;
		opacity: 1;
	}
	to {
		visibility: hidden;
		opacity: 0;
	}
}

/*************** MODAL STLYE ON LABEL AND INPUT ***************/
.reservation-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

/**** TEXT INPUT ****/
.form-data-text {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.text-input {
	padding: 0.5rem;
	border-radius: 0.5rem;
}

/**** Valid / Invalid input ****/
.form-invalid-message {
	display: none;

	color: var(--form-not-valid-message);
}

.text-input.valid {
	background-color: var(--form-valid-bg);
	border: 1px solid var(--form-valid);
}

.text-input.invalid {
	background-color: var(--form-not-valid-bg);
	border: 1px solid var(--form-not-valid);
}

.text-input.invalid + .form-invalid-message {
	display: inline;
}


/**** RADIO INPUT ****/
.form-data-radio {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.radio-label {
	margin-right: 1.25rem;
}

/* Hide default input to create custom one with ::before and ::after */
.radio-input {
	display: none;
}

.radio-label {
	position: relative;

	cursor: pointer;
}

.radio-label::before {
	position: absolute;
	left: -1.5rem;
	top: 0;

	content: "";
	width: 1.125rem;
	height: 1.125rem;
	border-radius: 50%;
	border: 1px solid var(--text-secondary-color);
}

.radio-label::after {
	position: absolute;
	left: -1.25rem;
	top: 0.25rem;

	content: "";
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;

	background-color: var(--form-valid);

	transform: scale(0);
	transition: transform 0.2s ease-in-out;
}

.radio-input:checked + .radio-label {
	font-weight: 600;
	color: var(--form-valid);
}

.radio-input:checked + .radio-label::before {
	border: 1px solid var(--form-valid);
}

.radio-input:checked + .radio-label::after {
	transform: scale(1);
	-webkit-transform: scale(1);
}

.form-data-radio.invalid > .form-invalid-message {
	display: inline;
	width: 100%;
	text-align: center;
	margin-right: 2rem;
}

/***** CHECKBOX INPUT *****/
.form-data-checkbox {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	padding-left: 2rem;

	border: none;
}

/* Hide default input to create custom one with ::before and ::after */
.checkbox-input {
	display: none;
}

.checkbox-label {
	position: relative;

	cursor: pointer;
}

.checkbox-label::before {
	position: absolute;
	left: -1.5rem;
	top: 0;

	content: "";
	width: 1.125rem;
	height: 1.125rem;
	border-radius: 2px;
	border: 1px solid var(--text-secondary-color);
}

.checkbox-label::after {
	position: absolute;
	left: -1.25rem;
	top: 0.25rem;

	content: "";
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 2px;

	background-color: var(--form-valid);

	transform: scale(0);
	transition: transform 0.2s ease-in-out;
}

.checkbox-input:checked + .checkbox-label {
	font-weight: 600;
}

.checkbox-input:checked + .checkbox-label::before {
	border: 1px solid var(--form-valid);
}

.checkbox-input:checked + .checkbox-label::after {
	transform: scale(1);
	-webkit-transform: scale(1);
}

#conditions:not(:checked) ~ .form-invalid-message {
	display: inline;
	margin-left: 1rem;
}

.submit-button {
	margin: 0 auto;
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;
}

.confirmation-message {
	position: relative;
	display: none;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.confirmation-message span {
	text-align: center;
	padding: 0 1rem;
}

.confirmation-message button {
	position: absolute;
	bottom: 0;
}